<ul>
    <li home active><a href="javascript:Navigate('home')">Home</a></li>
    <li loans><a href="javascript:Navigate('loans')">Loans</a></li>
    <li customers><a href="javascript:Navigate('customers')">Customers</a></li>
    <li waybills><a href="javascript:Navigate('waybills')">Waybills</a></li>
    <li inventory><a href="javascript:Navigate('inventory')">Inventory</a></li>
    <li workers><a href="javascript:Navigate('workers')">Workers</a></li>
    <li admins><a href="javascript:Navigate('admins')">Admins</a></li>
</ul>
