@font-face {
    font-family: HFMonorita;
    src: url(../assets/fonts/HFMonorita-Regular.ttf);
}
@font-face {
    font-family: HFMonoritaBold;
    src: url(../assets/fonts/HFMonorita-Bold.ttf);
}

:root {
    --font: HFMonorita;
    --font-bold: HFMonoritaBold;
    --header-height: 40px;
    --nav-width: 10rem;
}

* {box-sizing: border-box;}

*[hidden] {display: none}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--color);
    background-color: var(--background);
    font-family: var(--font);
    letter-spacing: 0.5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #fefefe;
        --header-background: #252525;
        --nav-background: #252525;
        --background: #1a1a1a;
        --Toggler: #fafafa;
        --TogglerHover: #feb923;
        --table-border: #feb92355;
        --tableRow-border: #feb92333;
        --tableRow-odd: #ffffff08;
        --tableBox-border: #aaa;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color: #1a1a1a;
        --header-background: #dfdfdf;
        --nav-background: #dfdfdf;
        --background: #cecece;
        --Toggler: #323232;
        --TogglerHover: #2074bd;
        --table-border: #2074bdaa;
        --tableRow-border: #2074bd99;
        --tableRow-odd: #00000011;
        --tableBox-border: #555;
    }
}
